@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    min-width: 90vw;
    display: grid;
    margin: 0.7em;
    font-family: monospace;
    background-color: #111;
    color: #f5f5dc;
}

img{
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.FlexADD{
    display: grid;
    justify-items: center;
}

.CardClass{
    display: flex;
    flex-direction: column;
    background-color: #333;
    width: min(100%,300px);
    height: 450px;
    margin: 1.5rem;
    padding: 1.8rem;
    border:2px solid #000;
    border-radius: 10px;
    /* justify-content: center; */
    /* text-align: center; */
    position: relative;
}

.CardClass:hover{
    box-shadow: 0 0 10px#000,inset 0 0 30px #222;
    border-color: #222;
    background-color: #333;
}

.CardClass h2::before,h1::before{
    content: '\a';
    display: inline;
}

.CardClass h2,h1{
    text-wrap: nowrap;
    white-space: normal;
}

.CardClass img{
    flex-grow: 1;
    border-radius: 4px;
}
.TxtHolder{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    margin: 0.3rem auto;
    bottom: 20px;
}

.TxtHolder button{
    display: block;
}

.TxtHolder h1{
    /* margin-top: 10px; */
    font-family: 'Satisfy';
    font-size:x-large;
}

.TxtHolder h4{
    margin-bottom: 10px;
    font-family: 'EB Garamond';
    font-weight: 580;
}

.ImgHolder{
    /* object-fit:scale-down; */
    width: auto;
    height: fit-content;
    /* border:5px solid red; */
}

.MyHeader{
    font-size: 500%;
    text-transform: capitalize;
    text-align: center;
    text-decoration: underline;
    text-decoration-skip-ink: #3c70ff;
}

.ZoomOnHover{
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}

.myHeaderBox{
    width: 100%;
    background-color: #3c70ff1a;
    border:2px solid #3c70ff;
    border-radius: 10px;
    padding: 20px;
    overflow: hidden;
}

.myHeaderBox:hover{
    box-shadow: inset 0px 5px 50px #111,0px 0px 10px #3c70ff;
    /* transform: scale(1.2); */
}
.myHeaderBox:hover .ZoomOnHover{
    transform: scale(1.05);
}

.IndxNum{
    text-align: center;
    width: 40px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ee6323;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media screen and (min-width:1600px) {
    .FlexADD{
        grid-template-columns: repeat(4,1fr);
    }
}
@media screen and (max-width:1600px) and (min-width:1200px){
    .FlexADD{
        grid-template-columns: repeat(3,1fr);
    }
}
@media screen and (max-width:1200px) and (min-width:820px){
    .FlexADD{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width:820px){
    .FlexADD{
        grid-template-columns: repeat(1,1fr);
    }
}